.container {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  flex: 1; /* Allow the container to take the available space */
}

.phone {
  bottom: 20px;
  text-align: center;
  position: fixed;
  left: 662px; /* Adjust the left position as needed */
}

.navbar {
  position: fixed; /* Change from sticky to fixed */
  top: 0;
  left: 0;
  margin: 10px 10px 10px 15px;
  width: 98%;
  height: 60px;
  background-color: #1b1b1b;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-one {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-two {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 160px;
  top: 25px;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-one,
#link1:hover>.dropdown-two {
  display: block;
}

.dropdown-one .dItem {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.navbar a:hover,
.dropbtn:hover {
  background-color: red;
}

.dropdown-one .dItem:hover,
.dropdown-two a:hover {
  background-color: #ddd;
}

.color-square {
  width: 20px;
  height: 20px;
  display: inline-block;
  /* Cambiado a inline-block */
  margin-right: 5px;

}

/* Employee table body styles */
.convention-table {
  margin-left: 0;
  width: 50%;
}

/* General table styles */
table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 80px;
}

#convention-table {
  width: 50%;
  float: right; /* Add float left to move it to the left */
  margin-right: 65px; /* Remove the auto margin to the center */
}


#selection-section {
  text-align: left;
  max-width: 200px;
  margin: 0 auto; /* Center the selection section */
}


th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

select{
  margin: 10px;
  padding: 10px;
}

.hidden {
  display: none;
}
#selection-section {
  text-align: center;
  max-width: 200px;
  margin-left: 200px; /* Center the container */
}
label { 
  margin-right: 10px;
}

.selection-section-emp_names {
  display: inline-block;
  margin-bottom: 10px;
}

#selection-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

#selection-section button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#selection-section button:hover {
  background-color: #45a049;
}

